{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <p>Twoje konto zostało pomyślnie aktywowane.</p>
    
    <p><a href="{{ path('homepage') }}">Powrót na stronę główną.</a></p>
{% endblock body %}
