{% trans_default_domain 'FOSUserBundle' %}

<h2 class="form-signin-heading">Rejestracja konta</h2>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    
    <input class="pull-right btn btn-lg btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    
</form>
